<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/solarized-dark.min.css" integrity="sha512-kBHeOXtsKtA97/1O3ebZzWRIwiWEOmdrylPrOo3D2+pGhq1m+1CroSOVErIlsqn1xmYowKfQNVDhsczIzeLpmg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head> 
<body>
    <%- include("_buttons.ejs",{id:locals.id}) %>
    <div class="wrapper">
        <div class="line-number">
            <% for(let i=1;i<= code.split('\n').length;i++){ %>
                <div><%= i %></div>
            <% } %> 
        </div>
        <pre><code 
            id="code-display" 
            class="<%= locals.language? `language-${locals.language}`: ""%>"
            ><%= code %>
            </code>
        </pre>
    </div>
    
</body>
</html>